
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

.nav-holder {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.nav-holder > .brand-text {
  font-size: 30px ;
}
.nav-holder > .brand-text > span {
  font-size: 30px ;
}

.nav-holder > .data-text {
  font-size: 23px;
  color: grey;
  padding-top: .3rem;
}
.nav-holder > .data-text > span{
  font-size: 23px;

}


.brand-text > span  {
  color: grey;
}
.data-text > span  {
  color: black;
}

.card-container {
  min-width: 300px;
}

.card-holder {
  height: 85px;
}



/* CUSTOM STYLES*/

.pointer {
  cursor: pointer;
}

.round {
  border-radius: 10px !important;
}
